<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
        </style>
    </head>
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <h3 style="text-align: center; padding-left: 50px;">Inventory Report</h5>
            <h5 style="padding-left: 50px;">Date :</h5>
            <h5 style="padding-left: 50px;"><%= datas.startDate %><%= datas.lastDate ? ` - ${datas.lastDate}` : '' %></h5>
            <div style="text-align: center; padding-left: 50px;">            
                <table>
                    <tr>
                        <th>NO</th>
                        <th>SKU</th>
                        <th>SKU INDUK</th>
                        <th>NAMA PRODUK</th>
                        <th>VARIAN</th>
                        <th>SIZE</th>
                        <th>NAMA SUPPLIER</th>
                        <th>AUTHOR</th>
                        <th>END STOCK</th>
                        <th>HARGA MODAL</th>
                        <th>NILAI PRODUK</th>
                    </tr>
                <% if (datas.datas.length > 0) { %>
                    <% datas.datas.forEach((datas, i) => {%>
                       <tr>
                           <td><%= i + 1 %></td>
                           <td><%= datas.sku %></td>
                           <td><%= datas.sku_induk %></td>
                           <td><%= datas.nama_produk %></td>
                           <td><%= datas.varian %></td>
                           <td><%= datas.size %></td>
                           <td><%= datas.supplierName %></td>
                           <td><%= datas.username %></td>
                           <td><%= datas.end_stock %></td>
                           <td><%= datas.harga_modal %></td>
                           <td><%=datas.nilai_produk %></td>
                        </tr>
                    <%  });%>
                <% }%>
                    <tr>
                        <td colspan="8">Total</td>
                        <td><%= datas.end_stock %></td>
                        <td><%= datas.harga_modal %></td>
                        <td><%= datas.nilai_produk %></td>
                    </tr>
                </table>
             </div>
        </div>
    </body>
</html>