<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-left: -100px;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
        </style>
    </head>
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 50px;">            
                <h3>Sales Report</h5>
                <table>
                    <tr>
                        <th>NO</th>
                        <th>SKU</th>
                        <th>SKU INDUK</th>
                        <th>INVOICE MERCHANT</th>
                        <th>NAMA PRODUK</th>
                        <th>VARIAN</th>
                        <th>SIZE</th>
                        <th>QTY</th>
                        <th>AUTHOR</th>
                        <th>HARGA JUAL</th>
                        <th>BIAYA BIAYA</th>
                        <th>HARGA MODAL</th>
                        <th>PROFIT</th>
                        <th>DITERIMA</th>
                    </tr>
                <% if (datas.datas.length > 0) { %>
                    <% datas.datas.forEach((datas, i) => {%>
                       <tr>
                           <td><%= i + 1 %></td>
                           <td><%= datas.sku %></td>
                           <td><%= datas.productsSkuInduk %></td>
                           <td><%= datas.invoice_merchant %></td>
                           <td><%= datas.nama_produk %></td>
                           <td><%= datas.varian %></td>
                           <td><%= datas.productSize %></td>
                           <td><%= datas.qty %></td>
                           <td><%= datas.username %></td>
                           <td><%= datas.harga_jual %></td>
                           <td><%=datas.otherPrice %></td>
                           <td><%=datas.hargaProduct %></td>
                           <td><%=datas.profit %></td>
                           <td><%=datas.received %></td>
                        </tr>
                    <%  });%>
                <% }%>
                    <!-- <tr>
                        <td colspan="8">Total</td>
                        <td><%= datas.in %></td>
                        <td><%= datas.out %></td>
                        <td><%= datas.end_stock %></td>
                        <td><%= datas.harga_modal %></td>
                        <td><%= datas.nilai_produk %></td>
                    </tr> -->
                </table>
             </div>
        </div>
    </body>
</html>